
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>iNeed</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <style>

  th, td {
        padding: 15px;
  }

  </style>
 

  <body>
  
  	<div class="container">

      <div class="jumbotron">
        <h1>iNeed</h1>
        <p class="lead">iNeed is like Pandora for food deals. iNeed's powerful engine uses proximity and context computing in order to serve users with deals that they are likely to buy. No more rummaging through anemic deals. iNeed does most of the work with minimal user interaction / effort. iNeed is easy for vendors to use. All they do is create a deal, and the app will do all the work attracting the right kind of customer for it.</p>
        <table style="width:100%">
            <tr>
                <td><a class="btn btn-lg btn-block btn-primary" href="http://ineed-members.mybluemix.net/" role="button">Members</a></td>
                <td><a class="btn btn-lg btn-block btn-success" href="http://pyneed.mybluemix.net/" role="button">Vendors</a></td>
            </tr>
        </table>
      </div>
    </div> <!-- /container -->

  </body>
</html>
